.classpath
target/
.idea/
.project
zestawy.iml
.project
interfejsy/src/main/gwt-unitCache
interfejsy/src/main/webapp/WEB-INF/classes
interfejsy/src/main/webapp/interfejs
interfejsy/src/main/webapp/gwt-unitCache
interfejsy/src/main/webapp/WEB-INF/deploy
back-end/.setting*
interfejsy/.settings
